.App {
  position: relative;
}
.App-header {
  background-color: #f2f2f2;
  height: 110px;
  margin-bottom: 15px;
  text-align: left;
}
.headerpic {
  width: 150px;
  height: 48px;
  margin-bottom: calc(((110px - 2 * 1rem) / 2) - (48px / 2));
  margin-top: calc(((110px - 2 * 1rem) / 2) - (48px / 2));
}
.smallText{
  font-size: small;
}
