.detailSailler{
  background-color: lightGrey;
  color: DEEPSKYBLUE;
}
.dropdowncss{
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.arrow{
  top:45%;
  background-color: lightGrey;
  color:lightGrey;
}
.popoverWidth_Height{
  width: 300px;
  height: min-content;

}
.smallFormpop{
width: max-content;
}
.pStyle = {
  width: 60% !important;
  height: 26px !important;
};
