.cardWidth {
    width: 220px;
    height: 400px;
    border: 2px solid grey !important;
  }
  .imgWidth {
    height: 160px !important;
  }
.productItembtn{
    width: 14em !important;
    font-size: 11px !important;
}
.titleCardFontSize{
  font-size: 1rem !important;
}
