.appHeaderInput{
   border: 3px;
   border-color: black;
    border-radius: 8px;
    margin-bottom: calc(((124px - 2 * 1rem) / 2) - (48px / 2));
    margin-top: calc(((124px - 2 * 1rem) / 2) - (48px / 2));
}

.appheaderProfile{
  width:30px;
  height: 30px;

}

.center{
  margin-bottom: calc(((124px - 2 * 1rem) / 2) - (48px / 2));
  margin-top: calc(((124px - 2 * 1rem) / 2) - (48px / 2));
}
.greetingMessage{
  font-size: 4rem;
  text-align: left;
  margin-left: 10%;
    margin-top: 5%;
    color: darkslategrey;
    font-weight: bold;
    overflow-wrap: break-word;
    word-spacing: 1000px

}
