.App {
  
}
.App-header{
   background-color: #f2f2f2 ;
   height: 124px;
   margin-bottom: 20px;
   text-align: left;
}
.headerpic{
  width: 160px;
  height: 48px;
  margin-bottom: calc(((124px - 2 * 1rem)/2) - (48px/2));
  margin-top: calc(((124px - 2 * 1rem)/2) - (48px/2));
}
