.cardwidth{
 padding: 20px 20px;
  min-height: 140px;
  margin: 25px 60px;
  font-size: 23px;
  /* word-spacing: 9999999px; */
  text-decoration-color: black;
  background-color: #f2f2f2 !important;
  font-weight: bold;
  text-align: center;
}
a:visited {color:black}
