.cardwidth {
  padding: 20px 20px;
  min-height: 150px;
  margin: 25px 150px;
  font-size: 23px;
  /* word-spacing: 9999999px; */
  text-decoration-color: black;
  background-color: #f2f2f2 !important;
  font-weight: bold;
  text-align: center;
  width: 300px;
}
a:visited {
  color: black;
}
